# Common editor configs
.idea
.idea/
.vscode
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
.pytest_cache/

# Django sqlite databases
db.sqlite3
db.sqlite3-journal
db.test.sqlite3
db.test.sqlite3-journal

# Virtual Environments
.env
.venv*/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
